body{
    /* text-align: center; */
    background-image: linear-gradient(to right ,rgb(215, 240, 243),rgb(26, 170, 178));
}
.card{
    width: 500px;
    margin: 40px 0px 0px 330px;
    /* text-align: center; */
}

